:root {
    --navbar-bg: #46B1E1;
    --background-color: #EAE0D5; /* Light Gray (Main Background) */
    --text-color: white; /* White (Main Text) */
    --button-color: #0F4861; /* Deep Red (Logout & Primary Actions) */
    --button-hover: #133b4d; /* Slightly Darker Red (Button Hover) */
    --primary-color: #156082; /* Bright Blue (Login Button) */
    --secondary-color: #1E88B8; /* Darker Blue (Login Hover) */
    --hover-color: #FFBA08; /* Warm Yellow (Hover Effects) */


}

body{
    padding: 0;
    margin: 0;
    font-family: 'Aptos', sans-serif;
}
main{
    padding-top: 50px;
    min-height: calc(100vh - 85px);
}
button{
    cursor: pointer;
}