header{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    height: 70px;
    width: 100%;
    background-color: var(--navbar-bg);

}

#left-topbar{
    height: 50px;
    padding-left: 5px;
    align-content: center;
}

a#EasyLot-logo img{
    height: 70px;
    border-radius: 4px;
    float: inline-start;
}


header #middle-topbar{
    text-align: center;
    font-size: 24px;
    align-content: center;
    color: black;
}

#middle-topbar p{
    margin: 0;
    padding: 0;
    font-size: 50px;
    
}

#right-topbar{
    text-align: right;
}

.create-account-btn{
    margin-bottom: 1px;
    flex-direction: column;
    height: 47px;
    color: black;
    background-color: var(--login-btn);
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    width: 80px;

}

#login-btn i , #logout-btn i, #home-btn i{
    font-size: 70px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: bottom;
}

#login-btn i,#home-btn i{
    color: var(--button-color);
}

#login-btn i:hover, #home-btn:hover{
    color: var(--button-hover);
}

#logout-btn i{
    color: var(--button-color);
}

#logout-btn i:hover{
    color: var(--button-hover);
}

footer{
    background-color: var(--secondary-color);
    height: 35px;
    place-content: center;
}
#Copyright-container{
    justify-self: center;
    font-size: 20px;
}
#Copyright-container a{
    font-size: 25px;
    color: #082f41;
}
#Copyright-container a:hover{
    font-size: 25px;
    color: #021924;
}